{%extends "master.html" %}
{%block body %}
<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>CHILL</span>House</h1>
                                <h2>Imperia Sky Garden</h2>
                                <p> Địa chỉ: P.Vĩnh Tuy, Q.Hai Bà Trưng, TP.Hà Nội</p>
                                <p> Chủ đầu tư: TERRA GOLD Việt Nam</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/static/images/home/duan1.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>CHILL</span>House</h1>
                                <h2>Vinhomes Times City</h2>
                                <p> Địa chỉ: P.Vĩnh Tuy, Q.Hai Bà Trưng, TP.Hà Nội </p>
                                <p> Chủ đầu tư: Công ty Cổ Phần Phát Triển Đô Thị Nam Hà Nội </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/static/images/home/duan2.png" class="girl img-responsive" alt="     " />
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>CHILL</span>House</h1>
                                <h2>Vinhomes Smart City</h2>
                                <p> Địa chỉ: P. Tây Mỗ, Q. Nam Từ Liêm, TP. Hà Nội </p>
                                <p> Chủ đầu tư: Tập đoàn Vingroup, MIK group, Tập đoàn Samty Nhật Bản </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/static/images/home/duan3.png" class="girl img-responsive" alt="     " />
                            </div>
                        </div>
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Loại hình</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        {% for type in types %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/product/?real_estate_type={{type.id}}">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        {{type.name}}
                                    </a>
                                </h4>
                            </div>
                        </div>
                        {%endfor%}
                    </div><!--/category-products-->
                
                    {% comment %} <div class="brands_products"><!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                {%for i in brand%}
                                <li><a href="/?brand={{i.id}}"> <span class="pull-right">(50)</span>{{i.name}}</a></li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div><!--/brands_products--> {% endcomment %}
                    
                    <div class="price-range"><!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                             <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                             <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="/static/images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->
                
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <section id = "id">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">GỢI Ý CHO BẠN</h2>
                    {% for prod in products%}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{prod.image}}" alt="{{prod.title}}" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;" />
                                    <h2>${{prod.price}}</h2>
                                    <p>{{prod.title}}</p>
                                    <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>Add to cart
                                    </a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix"></div>
                    {% endif %}
                    {% endfor %}

                </div><!--features_items-->
            </section>
                
                <div class="category-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tshirt" data-toggle="tab">Q.Hai Bà Trưng</a></li>
                            <li><a href="#blazers" data-toggle="tab">Q.Nam Từ Liêm</a></li>
                            <li><a href="#sunglass" data-toggle="tab">Q.Đống Đa</a></li>
                            <li><a href="#kids" data-toggle="tab">Q.Cầu Giấy</a></li>
                            <li><a href="#poloshirt" data-toggle="tab">Q.Ba Đình</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tshirt" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/hbt1.png" alt="" />
                                            <h2>$7.98 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Minh Khai 30m, diện tích 40m² x 4 tầng, mặt tiền 3.4m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/dd1.jpg" alt="" />
                                            <h2>$12.7 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Bạch Mai 30m, diện tích 51.4m² x 7 tầng, mặt tiền 3.57m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/hbt3.jpg" alt="" />
                                            <h2>$13.8 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Cửa Nam 30m, diện tích 50m² x 5 tầng, nhà 2 mặt tiền</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/hbt4.jpg" alt="" />
                                            <h2>$7.98 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Vương Thừa Vũ 50m, diện tích 37.7m² x 4 tầng, mặt tiền 3.8m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="blazers" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/ntl1.jpg" alt="" />
                                            <h2>$5.55 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Phú Đô 150m, diện tích 46m² x 4 tầng, mặt tiền 1.5m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/ntl2.jpg" alt="" />
                                            <h2>$6.5 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Mỹ Đình 150m, diện tích 50.6m² x 4 tầng, mặt tiền 1.4m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/ntl3.jpg" alt="" />
                                            <h2>$6.9 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Mỹ Đình 150m, diện tích 30m² x 5 tầng, mặt tiền 3.6m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/ntl4.jpg" alt="" />
                                            <h2>$11 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Mỹ Đình 150m, diện tích 52m² x 7 tầng, mặt tiền 6.24m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="sunglass" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/dd2.jpg" alt="" />
                                            <h2>$16.5 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Khâm Thiên 70m, diện tích 70m² x 7 tầng, mặt tiền 1.71m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/dd3.jpg" alt="" />
                                            <h2>$7.5 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Khâm Thiên 200m, diện tích 35.2m² x 5 tầng, mặt tiền 6.2m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/dd4.jpg" alt="" />
                                            <h2>$5.35 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Khâm Thiên 10m, diện tích 33.2m² x 4 tầng, mặt tiền 2m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/dd5.jpg" alt="" />
                                            <h2>$5.5 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Khâm Thiên 120m, diện tích 36.6m² x 5 tầng, mặt tiền 1.8m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="kids" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/cg1.jpg" alt="" />
                                            <h2>$19.8 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Hoàng Quốc Việt 50m, diện tích 64.9m² x 4 tầng, mặt tiền 5.94m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/cg2.jpg" alt="" />
                                            <h2>$18 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Hoàng Quốc Việt 30m, diện tích 57m² x 4 tầng, mặt tiền 5.29m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/cg3.jpg" alt="" />
                                            <h2>$ 10.7 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Hoàng Quốc Việt 20m, diện tích 30.4m² x 3 tầng, mặt tiền 4m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/cg4.jpg" alt="" />
                                            <h2>$20.5 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Hoàng Quốc Việt 70m, diện tích 78.6m² x 9 tầng, mặt tiền 6.03m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="poloshirt" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/Bd1.png" alt="" />
                                            <h2>$9.1 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Nguyên Hồng 50m, diện tích 42.6m² x 4 tầng, mặt tiền 3.07m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/bd2.jpg" alt="" />
                                            <h2>$7.4 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Hoàng Hoa Thám 30m, diện tích 32m² x 6 tầng, mặt tiền 4.3m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/bd3.jpg" alt="" />
                                            <h2>$10 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Hoàng Hoa Thám 120m, diện tích 132.3m² x 8 tầng, mặt tiền 4m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/static/images/home/bd4.jpg" alt="" />
                                            <h2>$10.6 tỷ</h2>
                                            <p>Nhà mặt ngõ cách Hoàng Hoa Thám 900m, diện tích 36.2m² x 7 tầng, mặt tiền 4m</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</section>

{%endblock%}