{%extends "master.html" %}
{%block body %}
<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>CHILL</span>House</h1>
                                <h2>Imperia Sky Garden</h2>
                                <p> Địa chỉ: P.Vĩnh Tuy, Q.Hai Bà Trưng, TP.Hà Nội</p>
                                <p> Chủ đầu tư: TERRA GOLD Việt Nam</p>
                                <button type="button" class="btn btn-default get">Nhận tư vấn</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/static/images/home/duan1.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>CHILL</span>House</h1>
                                <h2>Vinhomes Times City</h2>
                                <p> Địa chỉ: P.Vĩnh Tuy, Q.Hai Bà Trưng, TP.Hà Nội </p>
                                <p> Chủ đầu tư: Công ty Cổ Phần Phát Triển Đô Thị Nam Hà Nội </p>
                                <button type="button" class="btn btn-default get">Nhận tư vấn</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/static/images/home/duan2.png" class="girl img-responsive" alt="     " />
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>CHILL</span>House</h1>
                                <h2>Vinhomes Smart City</h2>
                                <p> Địa chỉ: P. Tây Mỗ, Q. Nam Từ Liêm, TP. Hà Nội </p>
                                <p> Chủ đầu tư: Tập đoàn Vingroup, MIK group, Tập đoàn Samty Nhật Bản </p>
                                <button type="button" class="btn btn-default get">Nhận tư vấn</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/static/images/home/duan3.png" class="girl img-responsive" alt="     " />
                            </div>
                        </div>
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Loại hình</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        {% for type in types %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/product/?real_estate_type={{type.id}}">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        {{type.name}}
                                    </a>
                                </h4>
                            </div>
                        </div>
                        {%endfor%}
                    </div><!--/category-products-->
                
                    {% comment %} <div class="brands_products"><!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                {%for i in brand%}
                                <li><a href="/?brand={{i.id}}"> <span class="pull-right">(50)</span>{{i.name}}</a></li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div><!--/brands_products--> {% endcomment %}
                    
                    <div class="price-range"><!--price-range-->
                        <h2>Khoảng giá</h2>
                        <div class="well text-center">
                             <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                             <b class="pull-left"> 0</b> <b class="pull-right"> 600</b>
                        </div>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="\static\images\home\8xbet.jpg" alt="" style="margin-bottom: 20px;" />
                        <img src="/static/images/home/adv.gif" alt="" style="margin-bottom: 20px;" />
                    </div><!--/shipping-->
                
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <section id = "id">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">GỢI Ý CHO BẠN</h2>
                    {% for prod in products%}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{prod.image}}" alt="{{prod.title}}" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;" />
                                    <h2>{{prod.price}}</h2>
                                    <p>{{prod.title}}</p>
                                    <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>Thêm vào yêu thích
                                    </a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix"></div>
                    {% endif %}
                    {% endfor %}

                </div><!--features_items-->
            </section>
                
            <div class="category-tab"><!--category-tab-->
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Q_HM" data-toggle="tab">Q. Hoàng Mai</a></li>
                        <li><a href="#Q_NTL" data-toggle="tab">Q. Nam Từ Liêm</a></li>
                        <li><a href="#Q_DD" data-toggle="tab">Q. Đống Đa</a></li>
                        <li><a href="#Q_CG" data-toggle="tab">Q. Cầu Giấy</a></li>
                        <li><a href="#Q_HD" data-toggle="tab">Q. Hà Đông</a></li>
                        <li><a href="#H_GL" data-toggle="tab">H. Gia Lâm</a></li>
                        <li><a href="#Q_LB" data-toggle="tab">Q. Long Biên</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <!-- Q. Hoàng Mai -->
                    <div class="tab-pane fade active in" id="Q_HM">
                        {% for prod in products_by_area.Q_HBT %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ prod.image }}" alt="" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;"/>
                                            <h2>{{ prod.price }}</h2>
                                            <p>{{ prod.title }}</p>
                                            <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào yêu thích</a>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            
                    <!-- Q. Nam Từ Liêm -->
                    <div class="tab-pane fade" id="Q_NTL">
                        {% for prod in products_by_area.Q_NTL %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ prod.image }}" alt="" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;"/>
                                            <h2>{{ prod.price }}</h2>
                                            <p>{{ prod.title }}</p>
                                            <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào yêu thích</a>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="tab-pane fade" id="Q_DD" >
                        {% for prod in products_by_area.Q_DD %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ prod.image }}" alt="" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;"/>
                                            <h2>{{ prod.price }}</h2>
                                            <p>{{ prod.title }}</p>
                                            <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào yêu thích</a>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                    
                    <div class="tab-pane fade" id="Q_CG" >
                        {% for prod in products_by_area.Q_CG %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ prod.image }}" alt="" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;"/>
                                            <h2>{{ prod.price }}</h2>
                                            <p>{{ prod.title }}</p>
                                            <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào yêu thích</a>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="tab-pane fade" id="Q_HD" >
                        {% for prod in products_by_area.Q_BD %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ prod.image }}" alt="" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;"/>
                                            <h2>{{ prod.price }}</h2>
                                            <p>{{ prod.title }}</p>
                                            <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào yêu thích</a>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="H_GL" >
                        {% for prod in products_by_area.H_GL %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ prod.image }}" alt="" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;"/>
                                            <h2>{{ prod.price }}</h2>
                                            <p>{{ prod.title }}</p>
                                            <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào yêu thích</a>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="Q_LB" >
                        {% for prod in products_by_area.Q_LB %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ prod.image }}" alt="" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;"/>
                                            <h2>{{ prod.price }}</h2>
                                            <p>{{ prod.title }}</p>
                                            <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào yêu thích</a>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin chi tiết</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}