{% extends 'master.html' %}
{% block body %}
<section id="advertisement">
    <div class="container">
        <img src="images/shop/advertisement.jpg" alt="" />
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Loại hình</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        {% for type in types %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/product/?real_estate_type={{ type.id }}">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        {{ type.name }}
                                    </a>
                                </h4>
                            </div>
                        </div>
                        {%endfor%}
                    </div><!--/category-productsr-->
                
                    {% comment %} <div class="brands_products"><!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                {%for i in brand%}
                                <li><a href="/product/?brand={{i.id}}"> <span class="pull-right">(50)</span>{{i.name}}</a></li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div><!--/brands_products--> {% endcomment %}
                    
                    <div class="price-range"><!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well">
                             <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                             <b>0 đ</b> <b class="pull-right">60 tỷ đ</b>
                        </div>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="\static\images\home\8xbet.jpg" alt="" style="margin-bottom: 20px;" />
                        <img src="/static/images/home/adv.gif" alt="" style="margin-bottom: 20px;" />
                    </div><!--/shipping-->
                    
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Sản phẩm</h2>
                    {% for prod in products %}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/{{prod.image}}" alt="{{prod.title}}" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;" />
                                    <h2>{{prod.price}} đ</h2>
                                    <p>{{prod.title}}</p>
                                    <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>Thêm vào yêu thích
                                    </a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin sản phẩm</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix"></div>
                    {% endif %}
                    {% endfor %}
                    
                </div><!--features_items-->
                    <div class="features_items">
                        <div class="pagination-wrapper" style="text-align: center;">
                            <ul class="pagination">
                                {% if products.has_previous %}
                                    <li><a href="?page={{ products.previous_page_number }}">«</a></li>
                                {% endif %}
                                {% for num in products.paginator.page_range %}
                                    <li class="{% if products.number == num %}active{% endif %}">
                                        <a href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                                {% if products.has_next %}
                                    <li><a href="?page={{ products.next_page_number }}">»</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
            </div>
            <!-- Pagination controls -->
            
        </div>
    </div>
</section>
{% endblock %}
