{% extends 'master.html' %}
{% block body %}
<div class="'container">
<div class="features_items"><!--features_items-->
    <h2 class="title text-center">Kết quả tìm kiếm</h2>
    <div class="container">
        <div class="row" style = "display: flex; justify-content: center;flex-wrap: wrap;">

            {% if products|length < 1 %}
                <div class="content-404" style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; text-align: center; margin: 0;">
                    <img src="\static\images\404\404.png" alt="404 Error" style="max-width: 200px; height: auto;" />
                    <h1><b>OPPS!</b> Chúng tôi không thể tìm thấy sản phẩm</h1>
                    <p>Uh... Có vẻ như bạn đã làm hỏng thứ gì đó. Trang bạn đang tìm kiếm đã xuất hiện và biến mất.</p>
                    <h2><a href="{% url 'index' %}">Đưa tôi về trang chủ</a></h2>
                </div>
            {%else%}
                {% for prod in products %}
                <div class="col-sm-4">
                    <div class="product-image-wrapper">

                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/{{ prod.image }}" alt="{{ prod.name }}" style="width: 100%; height: 300px; object-fit: cover; border-radius: 5px;" />
                                    <h2>{{ prod.price }}</h2>
                                    <p>{{ prod.title }}</p>
                                    <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>Thêm vào yêu thích
                                    </a>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="{% url 'product_detail' prod.id %}"><i class="fa fa-plus-square"></i>Thông tin sản phẩm</a></li>
                                </ul>
                            </div>
                            
                    </div>
                </div>
                {%endfor%}
            {% endif %}
        </div>
    </div>
</div><!--features_items-->
</div>
{%endblock%}